
$gray: #444;


.progress-container
{
    z-index: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;


    align-self: center;

    margin-bottom: 4em;
}

.text-container{
    // width: 25%;
    align-self: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.text-container > *{
    margin: 4px !important;

}
.button-container > *{
    margin: 8px !important;
}