
$gray: #444;

// body
// {
//     font-family: 'Open Sans', sans-serif;
//     font-size: 16px;
//     font-weight: 300;
//     line-height: 1em;

//     text-align: center;

//     color: $gray;
//     background: #d0d0d0;
// }
// h1
// {
//     font-size: 2.5em;

//     margin: 2em 0 .5em;
// }
// h2
// {
//     margin-bottom: 3em;
// }
// em,
// strong
// {
//     font-weight: 700;
// }
// input
// {
//     display: none;
// }
// header p 
// {
//     margin-bottom: 0;
// }
// .progress-section
// {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     margin-bottom: 2em;
//     padding: 0;
//     &:last-of-type
//     {
//         margin-bottom: 0;
//     }
//     article 
//     {
//         align-self: center;
//         width: 20em;
//         margin-bottom: 2em;
//         p,
//         &:last-of-type
//         {
//             margin-bottom: 0;
//         }
//     }
// }
// p
// {
//     line-height: 1.5em;

//     max-width: 20em;
//     margin: 1.5em auto 2em;
//     padding-bottom: 1.5em;
//     span
//     {
//         display: block;
//     }
// }



.progress-container
{
    z-index: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;

    justify-content: center;

    margin-bottom: 4em;
}

.text-container{
    width: 50%;
    align-self: center;
    display: flex;
    align-items: flex-start;
    background: green;
    flex-direction: column;
}

.text-container > *{
    margin: 0px !important;

}
.button-container > *{
    margin: 8px !important;
}